.post-topic {
  margin: 0 4px;
}

body {
  font-family: "Lato", sans-serif;
}

li {
  list-style-type: none;
}

.app-wrapper {
  display: grid;
  justify-items: center;

  .home {
    height: 98vh;
    width: 66vw;
    display: grid;
    align-content: space-around;
    justify-items: center;
    // grid-template-rows: 1fr 2fr 1fr;
  }

  .recent-posts-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}
