.results {
  @include default-page-layout();
  margin-top: 50px;
  align-content: start;
  row-gap: 44px;

  .search-bar {
    align-content: start;
    justify-items: center;
    input {
      font-size: 22px;
      height: 36px;
    }
  }

  .results-posts {
    .results-posts-wrapper {
      .results-posts-posts {
        display: grid;
        row-gap: 20px;
        justify-content: stretch;

        .result-post {
          display: grid;
          align-content: space-around;
          row-gap: 22px;

          .result-post-topics > * {
            color: $color-blue-main;
            font-size: 14px;
            line-height: 17px;
            font-weight: normal;
          }

          .result-post-title a {
            color: $color-gray-one;
            font-size: 18px;
            line-height: 22px;
          }

          .result-post-links {
            display: flex;
          }
        }
      }
    }
  }
}

.post-link {
  min-height: 70px;
  display: flex;
  flex-basis: 205px;
  margin-right: 37px;

  .post-link-box {
    min-width: 70px;
    background-color: $color-gray-three;
    margin-right: 16px;
  }

  .post-link-link a {
    color: $color-gray-one;
    font-size: 14px;
    line-height: 17px;
  }
}
